<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

	<bean id="loadUserInterceptor" class="com.sdocean.interceptor.LoadUserInterceptor"/>
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="defaultHandler">
			<bean class="com.sdocean.frame.web.DefaultController" />
		</property>
		<property name="interceptors">  
            <list>  
                <ref bean="loadUserInterceptor"/>  
            </list>  
        </property>
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/plain;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/page/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
		
	
	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		 <property name="locations">
			<list>
			<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.cj.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost:3306/pdocean?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Hongkong&amp;useSSL=false</value> 
			<!-- <value>jdbc:mysql://localhost:3306/ytsocean?useUnicode=true&amp;characterEncoding=UTF-8</value>  -->
			<!--<value>jdbc:mysql://127.0.0.1:3306/liaohe_oceantech</value>--> 
		</property> 
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>Xu@518624</value>
		</property>
		<property name="initialSize" value="10"></property>
		<property name="maxActive" value="100"></property>
		<property name="maxIdle" value="20"></property>
		<property name="minIdle" value="5"></property>
		<!-- 设置在自动回收超时连接的时候打印连接的超时错误 -->
		<property name="logAbandoned" value="true" />
		<!-- 设置自动回收超时连接 -->
		<property name="removeAbandoned" value="true" />
		<!-- 自动回收超时时间(以秒数为单位) -->
		<property name="removeAbandonedTimeout" value="100" />
		<!-- 超时等待时间以毫秒为单位 -->
		<property name="maxWait" value="3000" /> 
		
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref  bean="dataSource" />
		</property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
   
	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager" />
	
	<context:component-scan base-package="com.sdocean.*" />
	
	<beans:bean id="loginLogAuthenticationSuccessHandler"  
        class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">  
        <beans:property name="defaultTargetUrl" value="/index.do"></beans:property>  
    </beans:bean>  
    <beans:bean id="simpleUrlAuthenticationFailureHandler"  
        class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">  
        <!-- 可以配置相应的跳转方式。属性forwardToDestination为true采用forward false为sendRedirect -->  
        <beans:property name="defaultFailureUrl" value="/login.do?error=authfailure"></beans:property>  
    </beans:bean>


<!-- 未登录的切入点 -->  
    <beans:bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">  
        <beans:property name="loginFormUrl" value="/login.do?error=noLogin"></beans:property>  
    </beans:bean>
</beans>
